.paymentForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.cardElement {
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.submitButton:hover {
  background-color: #0056b3;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.orText {
  margin: 0 10px;
  font-size: 20px;
}

.cash_button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  max-width: 22rem;
  margin-top: 1rem;
}

.cash_button:hover {
  background-color: #218838;
}
