.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.list li {
  display: inline-block; 
}

.list li a {
  height: 19.5rem;
  width: 18rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  position: relative; 
  transition: transform 0.3s ease; 
}

.list li a:hover {
  transform: scale(1.05); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  border-color: #e72929; 
}

.list li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  border: 2px solid transparent; 
  transition: border-color 0.3s ease; 
}

.list li a:hover::before {
  border-color: #e72929; 
}

.image {
  object-fit: cover;
  height: 14.5rem;
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  display: flex; 
  flex-direction: column; 
  height: 7rem;
}

.nameAndPrice {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 0.5rem; 
}

.name {
  flex: 1; 
}

.price {
  color: #414141;
  font-size: 1.1rem;
}



.product_item_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.origins {
  flex: 9;
}


